/* app css stylesheet */

/* enable modifying Material Design icons */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-75 { font-size: 75px; }
.material-icons.md-96 { font-size: 96px; }

/* styling for practice sight words */
.sight_words {
  font-size: 60px;
  font-family: arial;
}
.swp_td {
  width: 33%;
  vertical-align: middle;
  text-align: center;
}
.swp_t {
  width: 100%;
}


