  <div class="container">
      <div class="page-header">
       
        <p class="sight_words" align="center">{{wordList.sight_words[currWordIndex].word}} ({{wordList.sight_words[currWordIndex].id}})</p>
      </div> 
      
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}">
         
        </div>

        <br/>

      </div>
       
      <!--md-progress-linear md-mode="determinate" value="10"></md-progress-linear-->

  </div>

  <footer class="footer">
      <div class="container" align="center">
          <table class="swp_t " align=center><tr>
         
          <td class="swp_td"><md-button href="#/home"><i class="material-icons md-60">home</i></md-button>
          </td>
         
          <td class="swp_td"><md-button><i class="material-icons md-60"  ng-click="markAnswer(studentID, wordList.sight_words[currWordIndex].id, 'true')">keyboard_arrow_up</i></md-button>
          </td>
         
          <td class="swp_td"><md-button><i class="material-icons md-60"  ng-click="markAnswer(studentID, wordList.sight_words[currWordIndex].id, 'false')">keyboard_arrow_down</i></md-button>
          </td>
          
          </tr></table>

          <!-- NOTE:  this is the raised buttom implementation.
                      Still has grey background  -->
          <!--md-button href="#/home" class="md-raised"><i class="material-icons md-48">home</i></md-button>
          <md-button class="md-raised"><i class="material-icons md-48"  ng-click="markAnswer(studentID, wordList.sight_words[currWordIndex].word, 'true')">keyboard_arrow_up</i></md-button>
          <md-button class="md-raised"><i class="material-icons md-48"  ng-click="markAnswer(studentID, wordList.sight_words[currWordIndex].word, 'false')">keyboard_arrow_down</i></md-button-->


      <!--div class="row" align="center">
        <div class="col-sm-4">
        </div>

        <div class="col-sm-4">
        </div>
      
      
        <div class="col-sm-4">
        </div>
      </div-->
      </div>
  </footer>
